<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img
      src="https://png.pngtree.com/png-clipart/20190613/original/pngtree-wellness-people-logo-design-template-png-image_3554504.jpg"
      alt="logo" style="width:40px;">
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Usuarios
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/usuarioForm">Registrar Usuarios</a>
        <a class="dropdown-item" routerLink="/usuarios">Ver usuarios</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Actividades
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/actividadForm">Crear actividad</a>
        <a class="dropdown-item" href="/actividades">Ver actividades</a>
      </div>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/usuarioForm">Registrar usuario</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/usuarios">Usuarios</a>
    </li> -->

  </ul>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>


<!-- <div class="row">
    <div class="col-sm-6">
        <app-usuario-form></app-usuario-form>

    </div>
    <div class="col-sm-6">
        <app-usuario></app-usuario>
    </div>
</div> -->